
 /* 
 *
 */

body{
    font-family: 'Poppins', sans-serif!important;
}

.mob-hero {
    height:500%;
}

.mob-hero--illust{
    height:500%;
}


.mob-hero h1{
    font-weight: bold;
    font-size: 4em;
}

section h1{
    font-weight: bold;
}

@media (max-width: 576px) {
    .mob-hero h1 {
       font-size: 2em;
    }
 }
 
 @media (min-width: 576px) {
    .m10-news-feed {
       font-size: 2em;
    }
 }

 @media (max-width: 576px) {
    .m10-news-feed-btn {
        margin-top: 1em!important;
    }
 }
 